In [1]:
import pandas as pd 

def lower(text):
    return text.lower()

def normalize(s):
    replacements = (
        ("á", "a"),
        ("é", "e"),
        ("í", "i"),
        ("ó", "o"),
        ("ó", "o"),
        ("ú", "u"),
    )
    for a, b in replacements:
        s = s.replace(a, b)
    return s
        
data = pd.read_csv('atc_medicamentos.csv')
data['descripcion_atc'] = data['descripcion_atc'].apply(lambda x: lower(x))
data['descripcion_atc'] = data['descripcion_atc'].apply(lambda x: normalize(x))

In [2]:
data

    codigo_atc    descripcion_atc
0     L01XE50        abemaciclib
1      L02BX03        abiraterona
2     L01XE51      acalabrutinib
3      L01XE13           afatinib
4     L01XE36          alectinib
..         ...                ...
191    L01CA02        vincristina
192    L01CA03          vindesine
193    L01CA04        vinorelbina
194    L01XX43         vismodegib
195    M05BA08  zoledronico acido

[196 rows x 2 columns]